{
  font-family: Arial, Helvetica, sans-serif;
}	
header {
  background-color: #666;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
body 
}

  background-color: #ffcece;
}
h1 {
  color: #8ed6ff;
}
p {
  color: black;
}